/* Header-top */
.header-top {background: #eff8c6; padding: 5px 0 0 }
.header-top ul li a { color: #333 }
/* Header End */

/* Navigation */
.navbar-default {
    box-shadow: 0 4px 10px #ccc;
    background: #334900!important;
    border: 1px solid #3b500c;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
 


/* Footer */
.foot-inn {
    background: #334900;
    color: #fff!important;
}
.foot-inn .footertext h4 {
    color: #fff;
}
.foot-inn .footertext ul li a {
    color: #fff;
    text-decoration: none;
}
.foot-inn .footertext ul li a:hover {
    color: #ccc;
    text-decoration: none;
}
.copyrite { background: #eff8c6}
