
body{font-family: 'Poppins', sans-serif; font-weight: 400; color: #7e7d80;}
*{ transition: all ease-in-out 0.2s;}

header{ background:#fff;}
header .navbar-brand{ padding:20px 0}
.navbar-light{ background:#37452f; padding:5px 0 !important}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight:500;
    font-size: 16px;
    position: relative;
    padding: 12px 15px;
}
.navbar-light .navbar-nav .nav-link::before{content:""; width: 0px; position: absolute; left: 100%; right: 100%; top: 100%; height: 1px; margin: 0 auto; transition: all ease-in-out 0.5s; }
.navbar-light .navbar-nav .nav-link:hover::before,.navbar-light .navbar-nav .active .nav-link::before  {content:""; width:auto; top: 100%; left:5px; right:5px; height: 2px; margin: 0 auto; background: #f8d326; }
.navbar-light .navbar-nav .nav-link:hover{ color: #fff;}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {    color: #fbff98;}

.signupbtn{ margin-left:85px;}

.navbar-nav.ml-auto .nav-link {
    color: #fff79c !important;
}
.nav-item.dropdown:hover .nav-link{ background:#fff; color:#37452f !important}
.dropdown-item{ border-bottom:1px dotted #333; padding:8px 10px; font-size:14px;}
.dropdown-item:hover{background:#bbc7b4;}


/*global*/
body{ background:#f0f3ee; overflow-x:hidden}
.reversed-direction{ flex-direction:row-reverse}
img{ max-width:100%;}
.content-space{ padding:50px 0}
 
p { font-size: 15px; line-height: 22px; color:#363f32;}
h2{ font-size:45px; font-weight: 600; color: #618b1e;} 
h2 span{ color: #ed8000; }
.container-fluid{ max-width:1600px;}
.dropdown-menu{ border:0px; padding:0px; border-radius:0px; min-width:300px}
.btn-warning{ background:#ed8000; border-color:#ed8000; color:#fff}
.btn{ border-radius:0px; font-size:14px;}
.form-control{ border-radius:0px; font-size:14px;}

/*banner*/

.banner{ background: #fff; position: relative; }
.banner,.banner img{height:calc(100vh - 175px); width:100%;}
.banner:after{ content: ""; background:rgba(35,57,22,0.7); position:absolute; left:0px; right:0px;  top:0px; bottom:0px; z-index:2; }


.carousel-caption2{ 
position: unset; 
left: 0px; 
right: 0px; 
top:50%; 
transform:translateY(0%);  
 z-index: 6;
 }
.carousel-caption2 h5{ color: #fff; font-size:45px;}
.carousel-caption2 h4{ color: #f8ff46; font-size:60px; text-transform:uppercase; font-weight: 600;}
.carousel-caption2 h4 span{ color: #ffbc6e; }
    .carousel-caption2 h3 {
        font-size: 60px;
        color: #ffbc6e;
    }


.banner .carousel-indicators{ right:15px; left:inherit; bottom:inherit; display:block; top:50%; margin:0px; transform:translateY(-50%);   z-index:9; }
.carousel-indicators li{ width:15px; border:0px; margin:4px 0 !important; height:15px; border-radius:100%;}
.carousel-indicators li.active{background:#f8ff46;}

.right-top-nav{ text-align:right;}
.right-top-nav ul{margin: 0px; padding: 5px 0 5px 20px; display: inline-block;background: #37452f; position:relative; border-radius: 0 0 0 29px;}
.right-top-nav ul:after{content:""; background: #37452f;left:100%; position:absolute; top:0px; bottom:0px; display:block; right:-50%; }
.right-top-nav ul li{ display:inline-block; }

.right-top-nav ul li a{display:inline-block; color:#fff; padding:0 5px; font-size:14px; }
.right-top-nav ul li a .circle{display:inline-block; background:#fbff98; width:20px; height:20px; border-radius:100%; vertical-align:middle; color:#000; padding:0 5px; font-size:14px; }.right-top-nav ul li a .circle-outline{display:inline-block;  border:1px solid #fbff98; width:20px; height:20px; line-height:17px; border-radius:100%; vertical-align:middle; color:#fbff98; padding:0 5px; font-size:14px; }
.right-top-nav p{ color:#d9a320; margin:12px 0 0 0; padding:0px; font-weight:500;}
.governess{ margin:0px; padding:0px; position:absolute; left:0px; right:0px; top:80px; text-align:center; z-index:5;}
.governess li{display:inline-flex; align-items:center; margin-right:15px; padding-left:120px; position:relative; color:#fff; text-align:left}
.governess li img{position:absolute; left:0px; top:50%; transform:translateY(-50%); width:95px;  height:95px; border-radius:100%;}
.governess li span{display:block; color:#f8ff46; font-size:25px; font-weight:600;}
.governess p { color:#fff; text-align:left; margin-bottom:0px;
}
    .welcome-section {
        position: relative;
    }
.welcome-section .governess{ position: absolute; top: -130px; right:0px; left: 0px;  z-index: 5;}
.welcome-section .governess p{ color:#fff}
.welcome-section p{ text-align:justify}
.sidebar-right{ border:2px solid #527d0c;  padding:30px; background:#fff;  border-radius:30px; position:relative; z-index:5; top:-100px;}
.sidebar-right h3{ border-bottom:1px solid #ccc; padding-bottom:15px; margin-bottom:25px; font-size:22px; color:#eb9d37}

.sidebar-right  ul{ margin:0px; padding:0px; list-style:none}
.sidebar-right  ul li h4{color:#338000; font-size:18px;}
.sidebar-right  ul li a{color:#000; text-decoration:underline}
.explore-map{ margin:0px; padding:0px; list-style:none}
.explore-map li{ margin:5px 0; padding:0; border:1px solid #e2e2e2; border-radius:25px 0 0 25px; background:#f6f6f6;  position:relative}
.explore-map li a{ display:block; padding:0 10px; padding-left:0px; text-decoration:none !important}
.explore-map li:hover {background:#fff}
.explore-map li:hover a{color:#338000;}
.explore-map li:hover img{ border-color:#eb9d37}
.explore-map li a img{ border:2px solid #8fa422; position:relative; left:-15px; object-fit:cover; width:47px; height:47px; border-radius:100%; display:inline-block; vertical-align:middle;}
.contact-info-list{ list-style:none; margin:40px 0 0 0; padding:0px;}
.contact-info-list li .fa{position:absolute; font-size:40px; left:15px; top:50%; transform:translateY(-50%);}
.contact-info-list li.call{ background:#c2dab2; line-height:1; display:inline-block; min-width:30%; position:relative; padding:20px 25px; padding-left:70px; color:#527d0c; font-size:22px;}
.contact-info-list li.call a{color:#527d0c; text-decoration:none;}
.contact-info-list li.envelope{ background:#fffedb;  line-height:1;display:inline-block; min-width:30%; position:relative; padding:20px 25px; padding-left:70px; color:#ed8000; font-size:22px;}
.contact-info-list li.envelope a{color:#ed8000; text-decoration:none;}

/*booking sectction*/
.booking-section{ padding:100px 0; position:relative; background:url(../images/booking-bg.jpg)no-repeat; background-size:cover; color:#fff;}
.booking-section:after{content:""; position:absolute; left:0px; right:0px; top:0px; bottom:0px; background:rgb(2 27 1 / 64%); z-index:2;}
.booking-section p{ font-size:24px; color:#fff; line-height:normal;}
.booking-section p,.booking-section  h3,.booking-section  ul{ z-index:3; position:relative;}
.booking-section  h3{ color:#fbff98; margin:40px 0; font-size:40px; font-weight:600}
.booking-section  h3 span{ color:#f5ff00; font-style:italic}
.app-booking{ margin:0px; padding:0px; text-align:center}
.app-booking li{display:inline-block; vertical-align:middle; margin:0 15px;}
.app-booking-now{ background:rgba(193,247,64,0.5); padding:15px; margin:50px 100px; border-radius:80px; padding-left:200px;display: flex;justify-content: space-evenly;}
.app-booking-now li { display:inline-block; text-align:center;}
.app-booking-now li.title {display: inline-block; font-size: 46px; color: #000; font-weight: 800; line-height: 1; background: #ffc208;
    position: absolute; border-radius: 100%; left: -20px; top: -16px; bottom: 0px; width: 200px; height: 200px;padding-top: 47px; transform: rotate(-45deg);}
.app-booking-now li img{ width:100px; height:100px; border-radius:100%; display:inline-block; border:2px solid #000; }
.app-booking-now li p { color:#fff; font-size:16px; text-align:center}
.app-booking-now li a{text-decoration:none;}
.app-booking-now li:hover a p{text-decoration:none; color:#ffc208}
/*footer*/
.footer-bottom{ background:#192704; padding:15px 0}
footer{ padding-top: 80px; position: relative; background:url(../images/footerbg.jpg)no-repeat; background-size:cover;}
footer h3{ color: #edf18f; padding-bottom:15px; border-bottom:2px solid #3e5829; font-size: 28px; margin:17px 0;}
.menulinks{ margin: 0px 0 50px 0; padding: 0px;}
.menulinks li{display: block; list-style: none; margin:5px 0; }
.menulinks li a{color: #fff; font-size: 15px; text-decoration: none;}
.menulinks li a:hover{color:#edf18f}
.help-desk{ } 
.help-desk h3{ padding-bottom:0px; margin-top:0px; border:0px;}
.help-desk p{color:#fff}

.contact-address{ } 
.contact-address p{color:#fff;  font-size:15px}
footer p a{color: #626262; text-decoration: none; font-size: 18px;} 
.take-me-top{ position: absolute; right: 0px; top:-45px; width: 60px; height: 60px; background: #edf18f; color: #333; border-radius: 100%; display: inline-block; text-align: center; line-height:60px;}
.copyright{ padding: 10px; color:#95a168}


/*inner page*/

.banner.inner-banner, .banner.inner-banner img { min-height:auto; height:auto}
.wildfile-resource-list{ list-style:none; margin:0px; padding:0px;}
.wildfile-resource-list li{color:#363f32; margin:15px 0; padding-left:30px; position:relative}
.wildfile-resource-list li:before{ position:absolute; left:0px; top:0px; line-height:1; font-size:22px; content:"\f058"; font-family:fontAwesome; display:inline-block; vertical-align:middle;}
.note-container{ border-bottom:1px solid #ccc; padding:15px 0; color:#666; margin-bottom:20px;}
.note-container span{font-size:15px; color:red}
.alert{ position:relative; padding-left:70px;  margin:15px 0}
.alert .fa{ position:absolute; left:15px; top:50%; transform:translateY(-50%); font-size:35px; color:#ed8000;}
.search-outer{ background:#fff; padding:20px; border-radius:5px; margin:35px 0; box-shadow:0 0 10px #e2e2e2}
.btn-light{ background:#ccc; border:1px solid #ccc}
.inventory  h2{ font-size:34px}
.inventory  .search-outer label span{ color:red;}

.inventory-list h2{ font-size:24px; margin-bottom:15px;}
.inventory-list table{background:#fff; font-size:13px;}
.inventory-list table tr th{ background:#618b1e; color:#fff; font-weight:normal}

.key-content-list{ list-style:none; margin:25px 0; padding:0px;}
.key-content-list li{color:#00502f; margin:20px 0; padding-left:30px; font-size:18px; position:relative}
.key-content-list li:before{ position:absolute; left:0px; top:2px; line-height:1; font-size:22px; content:"\f058"; font-family:fontAwesome; display:inline-block; vertical-align:middle;}


.key-list-info{ list-style:none; margin:15px 0; padding:0px;}
.key-list-info li{display:inline-block; width:24%; padding:0 15px; text-align:center;}
.key-list-info li picture {
	display: inline-block;
	width: 70px;
	height: 70px;
	vertical-align: middle;
	line-height: 70px;
	background: #fff;
	border-radius: 100%;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 11px;
	border: solid 2px #000;
}

.key-list-info li span{display:block; text-align:center; font-size:19px; color:#fff; font-weight:300;}
.key-list-info li a span{color:#4e8131; text-decoration:none}
.key-list-info li a:hover span,.key-list-info li a:hover{color:#000; text-decoration:none}

.text-heighlighted{ color:#d49600; font-size:26px; font-weight:600;}

.more-info-section { text-align:left; border-top:1px solid #ccc; padding-top:10px; }
.more-info-section h5 { color:#000; font-weight:bold; font-size:16px; margin-bottom:0px;}
.more-info-section p { margin:0px; padding:5px 0; text-align:left; font-size:13px; margin-bottom:15px;
}



@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	
