/*.fmmks {
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/slider.jpg") no-repeat;
  background-size: cover;
}*/
.fmmks {
    background-size: cover;
    background: #000;
}
.innerpop {
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/popupin.jpg") no-repeat;
  background-size: cover;
  

}
.mkbox {
	border: solid 1px #fff;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/bg.jpg") no-repeat;
  	background-size: cover;
}
.mkspopup{
	max-width: 970px;
	margin: 1.75rem auto;
}
.key-list-info.mk_boxsetup {
	margin-left: 15px;
	margin-right: 0px;
}
.key-list-info li picture:hover{
background: #ffc208;
}
.services .icon-box h4 {
	font-weight: 600;
	margin: 10px 0 15px 0;
	font-size: 22px;
}
.services .icon-box .icon {
	margin: 0 auto;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: ease-in-out 0.3s;
	position: relative;
	background: #fff;
	border-radius: 50%;
	border: solid 2px #000;
}
a {
	color: #fff;
	font-size: 13px;
}
	a:hover {
		color: #cffbe9 !important;
		text-decoration: underline;
	}
.services .icon-box {
	text-align: center;
	padding: 10px;
	transition: all ease-in-out 0.3s;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/bg.jpg") no-repeat;
  	background-size: cover;
	box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}
.icon-box.iconbox-blue {
	width: 100%;
	margin: 2px;
}
@media (min-width:992px) and (max-width:1024px){
.icon-box.iconbox-blue {
	width: 100%;
}
}

.services .icon-box .icon:hover{
background: #ffc208;
}
.modal.show .modal-dialog {
	-webkit-transform: none;
	transform: none;
	margin-top: 127px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	
	 padding-right: 2px;
	 padding-left: 2px; 
}
.mb-25 {
	margin-bottom: 70px;
}
.panel.panel-default {
	margin-right: 5px;
}
th {
	color: #fff !important;
}
td {
	color: #fff;
}
.titb {
	margin: 0px auto;
	font-weight: 600;
}
.inth {
	color: #000 !important;
	font-size: 13px;
}
.table td, .table th {
	padding: 0.3rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
h5.mb-5.txt {
	font-size: 28px;
}
.table-responsive.nus {
	background: #076457;
	opacity: 0.7;
	padding: 10px;
}