@media(min-width:1200px) and (max-width:1290px){
    .container-fluid{ max-width: 1200px;}
    .navbar-light .navbar-nav .nav-link { font-size: 15px; padding: 12px 8px;}
	.explore-map li a { padding: 0 4px; font-size: 13px;}
	.booking-section p { font-size: 18px;}
	.carousel-caption2 h5 { font-size: 35px;}
	.carousel-caption2 h4 { font-size: 50px;}
	.contact-address p { font-size: 15px;}
}

@media(min-width:1300px) and (max-width:1390px){
    .container-fluid{ max-width: 1200px;}
    .navbar-light .navbar-nav .nav-link { font-size: 15px; padding: 12px 8px;}
	.explore-map li a { padding: 0 4px; font-size: 13px;}
	.booking-section p { font-size: 18px;}
	.carousel-caption2 h5 { font-size: 35px;}
	.carousel-caption2 h4 { font-size: 50px;}
	.contact-address p { font-size: 15px;}
}

@media(min-width:1400px) and (max-width:1690px) {
    .container-fluid {
        max-width: 1360px;
    }

   
}	


@media(min-width:1600px) and (max-width:1690px){

}
@media (min-width:992px) and (max-width:1024px){
.banner,.banner img {height: auto;}
.carousel-caption2 h4 {font-size: 30px;}
.carousel-caption2 h5 { font-size: 25px;}
.carousel-caption2 { text-align: left;}
h2 {font-size: 34px;}
.welcome-section .governess {position: static;}
.governess li span {color: #ed8000; font-size: 21px;}
.welcome-section .governess p {color: #398307;}
.governess li { margin-bottom: 25px; position: relative;}
.app-booking li { margin:5px;}
.booking-section h3 {margin: 20px 0;font-size: 30px;}
.booking-section p {font-size: 18px;}
.contact-info-list li.call,.contact-info-list li.envelope{ width:100%; font-size:16px}
.navbar-light .navbar-nav .nav-link {font-size: 13px;padding: 12px 7px;}
.search-outer .form-control{ margin-bottom:15px}
.key-list-info li span {font-size: 21px;}
.text-heighlighted { font-size: 18px;}
.key-content-list li { font-size: 15px;}
.key-list-info li { width: 49%; margin-bottom:20px;}
}


@media (min-width:768px) and (max-width:991px){
.banner,.banner img {height: auto;}
.navbar-toggler{ position:absolute; right:0px; top:45px; outline:0px !important; border:0px !important;}

.navbar-toggler-icon{ background:url(../images/icon_menu.png)no-repeat center;}
.carousel-caption2 h4 {font-size: 30px;}
.carousel-caption2 h5 { font-size: 25px;}
.carousel-caption2 { text-align: left;}
h2 {font-size: 34px;}
.welcome-section .governess {position: static;}
.governess li span {color: #ed8000; font-size: 21px;}
.welcome-section .governess p {color: #398307;}
.governess li { margin-bottom: 25px; position: relative;}
.app-booking li { margin:5px;}
.booking-section h3 {margin: 20px 0;font-size: 30px;}
.booking-section p {font-size: 18px;}
.contact-info-list li.call,.contact-info-list li.envelope{ width:100%; font-size:16px}
.app-booking-now { display: block; justify-content: space-evenly;}
.app-booking-now li {margin: 5px;}
.app-booking-now li.title {
    top: 50%;
    bottom: 0px;
    width: 200px;
    height: 200px;
    padding-top: 47px;
    transform:translateY(-50%) rotate(-45deg);
}
.search-outer .form-control{ margin-bottom:15px}
.key-list-info li { width: 49%; margin-bottom:20px;}
.key-list-info li span {font-size: 21px;}
.text-heighlighted { font-size: 18px;}
.key-content-list li { font-size: 15px;}
}


@media (max-width:767px){
	.right-top-nav ul:after{ display:none}
.banner,.banner img {height: auto;}
.navbar-toggler{ position:absolute; right:0px; top:25px; outline:0px !important; border:0px !important;}
.navbar-toggler-icon{ background:url(../images/icon_menu.png)no-repeat center;}
.carousel-caption2 h4 {font-size:16px;}
.carousel-caption2 h5 { font-size:13px;}
.carousel-caption2 { text-align: left;}
h2 {font-size: 34px;}
.welcome-section .governess {position: static; text-align:center;}
.governess li span {color: #ed8000; font-size: 21px;}
.welcome-section .governess p {color: #398307;}
.governess li { margin-bottom: 25px; position: relative;}
.app-booking li { margin:5px;}
.booking-section h3 {margin: 20px 0;font-size: 30px;}
.booking-section p {font-size: 18px;}
.contact-info-list li.call,.contact-info-list li.envelope{ width:100%; font-size:16px}
.app-booking-now { display: block; justify-content: space-evenly; padding: 15px; padding-top:200px;}
.app-booking-now li.title {  top:-15px; left:-40px; transform: translateY(-15px) rotate(-45deg);}
.app-booking-now li {margin: 5px;}
.sidebar-right { top: 0;}
.right-top-nav ul{ border-radius:0 0 30px 30px; width:100%; padding:5px 10px }
.right-top-nav {text-align: center;}
.right-top-nav ul li a { padding: 0 3px;font-size: 13px;}
.right-top-nav p span{ display:block;  font-size:13px;}
header .navbar-brand { max-width: 67%;}
.help-desk{text-align:center}
.contact-address p { font-size: 16px;text-align: center;}
footer{ text-align:center}
.welcome-section p{text-align:justify}
.search-outer .form-control{ margin-bottom:15px}
.welcome-section{ padding-bottom:30px !important}
.key-list-info li {
    width: 100%;
}
}