@if (ViewBag.IsError == true || (TempData["IsError"] != null && Convert.ToBoolean(TempData["IsError"]) == true))
{
    if (ViewBag.ReturnMsg != null)
    {
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;@ViewBag.ReturnMsg</div>
    }
    else if (TempData["ReturnMsg"] != null)
    {
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;@TempData["ReturnMsg"]</div>
    }
}
else
{
    if (ViewBag.ReturnMsg != null)
    {
        <div class="alert alert-success"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;@ViewBag.ReturnMsg</div>
    }
    else if (TempData["ReturnMsg"] != null)
    {
        <div class="alert alert-success"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;@TempData["ReturnMsg"]</div>
    }
}