<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Rajasthan Single Window Clearance System
    </title>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />
    <link href="font-awesome/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <script type="application/javascript" src="js/jquery.min.js"></script>
    <script type="application/javascript" src="js/bootstrap.min.js"></script>
    
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <!-- Bootstrap core CSS -->

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/mobile.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/dashboard/dashboard.css" rel="stylesheet" type="text/css">
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/css/dashboard/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/dashboard/dataTables.bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="page">
        <header>
            <div class="container-fluid head">
                <div class="row">
                    <div id="topbar" class="col-lg-12"></div>
                    <nav>
                        <div class="line">
                            <div class="col-lg-6">
                                <img src="~/images/logo.png" alt="Logo" title="Logo" class="" />                                 
                            </div> 
                            <div class="top-nav col-lg-6">
                                <p class="nav-text">Custom menu text</p>
                                <div class="ssoDiv" id="mySSOProfile">
                                    @if (Session["SSODetail"] != null)
                                    { 
                                        FMDSS.Models.UserProfile usr = (FMDSS.Models.UserProfile)Session["SSODetail"];
                                        string photo = "data:image/jpeg;base64,"+ usr.PhotURL;                                  

                                        <img id="img_ProfileIcon" src="@photo" />
                                    }
                                </div>
                                <ul class="right">
                                    <li>
                                        @using (Html.BeginForm("BackToSWCS", "NOC", FormMethod.Post, new { enctype = "multipart/form-data", data_behavior = "confirm" }))
                                        {
                                            if (ViewBag.UserDetail != null)
                                            {
                                                <input id="UserDetail" name="UserDetail" type="hidden" value="@ViewBag.UserDetail" />
                                            }
                                            <button type="submit" class="logoutbtn-top ClsDashboard" value="Dashboard"> Dashboard</button>
                                        }
                                        @*<a id="lnk_Dashboard" class="logoutbtn-top ClsDashboard" href="~/WebForm1.aspx?val=backtosso">Dashboard</a>*@
                                    </li>
                                    <li>
                                        <a id="lnk_logoutsso" title="Sign Out" class="logoutbtn-top" href="~/WebForm1.aspx?val=logout">Sign out</a>
                                    </li> 
                                </ul>
                                <div id="myProfileDetail" class="profileDetail">
                                    <div class="profileDetailTop">
                                        <div class="gb_ea">
                                        </div>
                                        <div class="profileDetailTopLeft">
                                            <div class="profilePic">
                                                <img id="img_Profilepic" src="data:image/jpeg;base64,/9j/4AAQSkZJR" />
                                            </div>
                                        </div>
                                        <div class="profileDetailTopRight">
                                            <div class="citizenName">
                                                <span id="lbl_DisplayName">
                                                    <span id="lbl_name">AMIT RAJPUT</span>
                                                </span><br />
                                            </div>
                                            <div class="profileMail">
                                                <span id="lbl_Email">
                                                    <span id="lblemail">amit17rajput@gmail.com</span>
                                                </span><br />
                                            </div>
                                            <div class="profileMobile">
                                                <span id="lbl_Mobile">
                                                    <span id="lblmobile">7568246030</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profileDetailBottom">
                                        <a href="EditProfile.aspx" class="profileBtn" title="Update Profile" id="">Update Profile</a>
                                        <a href="ChangePassword.aspx" class="profileBtn" title="Change Password" id="">Change Password</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header> 

        @RenderBody()

        <!--========================================================
                                 FOOTER
         =========================================================-->
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="line">
                        <div class="col-lg-12">
                            <span style="float: left;position: relative;color: #FFF;font-size: 100%;" id="btnSWSPrint"><i class="fa fa-print" aria-hidden="true"></i></span>
                            <p>Site designed, developed &amp; hosted by Department of Information Technology &amp; Communication, Govt. of Rajasthan.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
