@{
    ViewBag.Title = "SomeException";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<h2 style="color:blue;">Some Exception:</h2>
<hgroup class="title">  
    <h2 style="color:brown;">Some thing went wrong kindly contact your system administrator</h2>
    <br />
    Error
    @if (HttpContext.Current.Session["Exception"] != null)
    {
       
        <span>(</span>@Session["Exception"].ToString()<span>)</span>
    }  
</hgroup>
