@model FMDSS.Models.BookOnlineZoo.BookOnZoo

<div class="col-lg-12">
    <label>Member Details:</label>
    <div class="divider"></div>
    <div class="table-responsive col-lg-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width:6%">SL No</th>
                    <th style="width:15%">No. of Members</th>
                    <th style="width:15%">ID Type</th>
                    <th style="width:15%">ID Number</th>
                    <th style="width:15%">Mobile No</th>

                </tr>
            </thead>
            <tbody id="tblMemberInfom">
                <tr>
                    <td>1</td>
                    <td>
                        @Html.TextBoxFor(model => model.NoOfMember, new { id = "NoOfMember", @class = "NoOfMember", maxlength = "2", onkeypress = "return isNumberKey(event);" })
                        <br /><span id="errNoOfMember" style="color: Red"></span>
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.MemberIdType, new List<SelectListItem>
                            {
                            new SelectListItem { Text = "--Select--", Value = "0"},
                            new SelectListItem { Text = "Passport", Value = "1"},
                            new SelectListItem { Text = "Aadhar", Value = "2"},
                            new SelectListItem { Text = "Driving Licence", Value = "3"},
                            new SelectListItem { Text = "Voter ID", Value = "4"},
                            new SelectListItem { Text = "PAN Card", Value = "5"},
                            new SelectListItem { Text = "Office ID", Value = "6"},
                            new SelectListItem { Text = "Student ID", Value = "7"},
                            }, new { id = "MemberIdType", @class = "MemberIdType" })
                        <br /><span id="errMemberIdType" style="color: Red"></span>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.MemberIdNumber, new { id = "MemberIdNumber", @class = "MemberIdNumber" })
                        <br /><span id="errMemberIdNumber" style="color: Red"></span>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.MemberMobileNo, new { id = "MemberMobileNo", @class = "MemberMobileNo", maxlength = "10", onkeypress = "return isNumberKey(event);" })
                        <br /><span id="errMemberMobileNo" style="color: Red"></span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<script>
    function isNumberKey(evt) {
        var id = $(evt.target).attr("id");

        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {

            evt.preventDefault();
            return false;
        }
        else
            return true;
    }
</script>
