
@{
    ViewBag.Title = "BookOnlineTicket";
    Layout = Convert.ToString(HttpContext.Current.Session["CurrentLayout"].ToString()); // "~/Views/Shared/_Layout.cshtml";
}
<div id="page-wrapper-inn">
   
    <div class="row">
        <div class="col-lg-12">
            <h3>Please Wait,Today's current Booking will start at 10:00 AM.</h3>
            <p>you may check seat availability at <a href="https://fmdss.forest.rajasthan.gov.in/home/InventoryReport" target="_blank">FMDSS Portal</a></p>
            
        </div>
    </div>
</div>
@*@using (Html.BeginForm("FinalSubmit","BookOnlineTicket",FormMethod.Post))
{
    <input type="submit" value="submit" />
}

<script>
    $(document).ready(function () {
        $(':submit').click(function (e) {
            alert("test");
            //e.preventDefault();
            //return false;
        });
    });
</script>*@
