@{
    ViewBag.Title = "BookOnlineTicket";
    Layout = Convert.ToString(HttpContext.Current.Session["CurrentLayout"].ToString()); // "~/Views/Shared/_Layout.cshtml";
}


<h2>Your visit has been rescheduled for Ranthambore National Park successfully and new permit Id is : @ViewBag.RequestId </h2>
