.panel-green {
    border-color: #926CDE;
}

    .panel-green .panel-heading {
        background-color: #fff;
        border-color: #926CDE;
        color: #926CDE;
    }

.panel-green {
    border-color: #926CDE;
}

    .panel-green a {
        color: #926CDE;
    }

        .panel-green a:hover {
            color: #0000ff;
        }
/*Loading*/
#divLoading {
    display: none;
}

    #divLoading.show {
        display: block;
        position: fixed;
        z-index: 10001;
        background-image: url('/Content/themes/base/images/site-loader.gif');
        background-color: #000;
        opacity: 0.4;
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
    }

    #divLoading.hide {
        display: none !important;
    }

#loadinggif.show {
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 101;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
}
/*Loading END*/

/*Accordian*/
.accordion-container {
	margin: 0 0 5px;
}
.accordion-toggle {
	position: relative;
	display: block;
	padding: 12px;
	font-size: 14px;
	font-weight: 500;
	background: #ccc;
	color: #000;
	text-decoration: none;
}
.accordion-toggle.open,.accordion-toggle:hover {
	background: #926CDE;
    color:#fff;
}
.accordion-toggle span.toggle-icon {
	position: absolute;
	top: 9px;
	right: 20px;
	font-size: 1.5em;
}
.accordion-content {
	display: none;
	padding: 20px;
	overflow: auto;
}
/*END*/
/*Tree view*/
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
/*END*/