@{
    int currentIndex = ViewBag.CurrentIndex;
}
<tr>
    @if (ViewBag.RowType == FMDSS.RowType.Research_SampleDetails)
    {
        <td><input type="text" name="SampleDetailsList[@currentIndex].Location" id="txtLocation_@currentIndex" placeholder="Location" size="15" /></td>
        <td><input type="text" name="SampleDetailsList[@currentIndex].MaterialName" id="txtMaterialName_@currentIndex" placeholder="Material" size="15" /></td>
        <td><input type="text" name="SampleDetailsList[@currentIndex].Qty" id="txtQty_@currentIndex" size="15" placeholder="Qty" onkeypress="AllowNumberOnly(event)" /></td>  
    }
    else if (ViewBag.RowType == FMDSS.RowType.Research_SpecimenDetails)
    {
        <td>
                <select id="ddlMemberType_@currentIndex" name="SpecimenDetailsList[@currentIndex].MemberType">
                    <option value="Team Staff">Team Staff</option>
                    <option value="Volunteer">Volunteer</option>
                    <option value="Forest Staff">Forest Staff</option> 
                </select>
            </td>
        <td><input type="text" name="SpecimenDetailsList[@currentIndex].MemberName" id="txtMemberName_@currentIndex" placeholder="Name" size="15" /></td>
        <td>
            <select id="ddlGender_@currentIndex" name="SpecimenDetailsList[@currentIndex].Gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option> 
            </select>
        </td> 
    }
</tr>