@model FMDSS.Models.ForestProduction.DODInventory
 
@using (Ajax.BeginForm("UpdateInventoryQty", "ManageInventory", new AjaxOptions { HttpMethod = "POST", Confirm = FMDSS.Globals.Constant.ConfirmMsg, OnSuccess = "UpdateItemToInventoryResponse", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tab1default" }, new { id = "frmUpdateInventory" }))
{
            <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel"><b>Update Inventory</b></h4>
        </div>
        <div class="modal-body">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Old Qty:<span class="mandatory">*</span></label>
                    @Html.TextBoxFor(m=>m.OldQty,new { @class="form-control",@readonly= "readonly", id = "txtOldQty", Value=Model.Qty }) 
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>New Qty:<span class="mandatory">*</span></label> 
                    @Html.TextBoxFor(m => m.Qty, new { @class = "form-control",id="txtQty", data_Qty = Model.Qty, Value="", onchange="ValidateQty(this)", onkeypress = "AllowNumberOnly(event)", required = "required" }) 
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Comment/Reason:<span class="mandatory">*</span></label>
                    @Html.TextAreaFor(x => Model.ReceiverComment, new { @class = "form-control", placeholder = "Enter Comment", required = "required" })
                </div>
            </div>
        </div>
        <div class="modal-footer" style="clear: both">

            <div id="btn" class="col-lg-12">
                <button type="submit" class="btn btn-success" name="Command" value="UpdateItemToInventory" id="btn_Save">
                    <i class="fa fa-check"></i>Submit
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i>  Close
                </button>

            </div>
        </div>
    </div>

        <!--/.model body--> 
    
    @Html.Hidden("InventoryID", Model.InventoryID)
}

<script>

    function ValidateQty(cntrl) { 
        var newQty = $(cntrl).val() == '' ? 0 : parseFloat($(cntrl).val());
        var oldQty = parseFloat($(cntrl).data("qty"));

        if (newQty <= 0) {
            alert('New Qty should be greater than 0.');
            $(cntrl).val('').focus(); 
        }
        else if (newQty == oldQty) {
            alert('New Qty should not be same as Old Qty.');
            $(cntrl).val('').focus();
        }
    } 
</script>