@{
    ViewBag.Title = "InvalidRequest";
}

<div id="page-wrapper-inn">

    <div class="row">
        <div class="col-lg-12">
            <h1>Invalid Request</h1>
            @*<h2><span>*</span> @TempData["RowCheck"].ToString()</h2>*@
            <h2><span>*</span> Third party tool, Script and code insertion are not allowed at client side</h2>
            <span>Click to <a href="https://sso.rajasthan.gov.in/signin?ru=fmdss">FMDSS Login</a></span>
        </div>
    </div>
</div>
