@model FMDSS.Entity.FRAViewModel.ClaimRequestVM
<div class="hide">
    <table id="tmpClaimantDetails">
        <tr>
            <td class="CloneBhamashaID"></td>
            <td class="CloneClaimantName">Claimant Name</td>
            <td class="CloneFatherName">Father Name</td>
            <td class="CloneGender">Gender</td>
            <td class="CloneSpouseName">Spouse Name</td>
            <td class="CloneEmail">Email</td>
            <td class="CloneMobile">Mobile</td>
            <td class="CloneAction" style="width:10px;">
                <a name="delete" onclick="DeleteClaimantDetails(this)" href="javascript:void(0)">Delete</a>
                <input type="hidden" name="tmpCloneBhamashahID" data-idtype="hdnCDBhamashahID" data-nametype1="ClaimantDetailsList" data-nametype2="BhamashahID" />
                <input type="hidden" name="tmpCloneClaimantName" data-idtype="hdnCDClaimantName" data-nametype1="ClaimantDetailsList" data-nametype2="ClaimantName" />
                <input type="hidden" name="tmpCloneFatherName" data-idtype="hdnCDFatherName" data-nametype1="ClaimantDetailsList" data-nametype2="FatherName" />
                <input type="hidden" name="tmpCloneGender" data-idtype="hdnCDGender" data-nametype1="ClaimantDetailsList" data-nametype2="Gender" />
                <input type="hidden" name="tmpCloneSpouseName" data-idtype="hdnCDSpouseName" data-nametype1="ClaimantDetailsList" data-nametype2="SpouseName" />
                <input type="hidden" name="tmpCloneEmail" data-idtype="hdnCDEmail" data-nametype1="ClaimantDetailsList" data-nametype2="Email" />
                <input type="hidden" name="tmpCloneMobile" data-idtype="hdnCDMobile" data-nametype1="ClaimantDetailsList" data-nametype2="Mobile" />
            </td>
        </tr>
    </table>

    <table id="tmpMemberDetails">
        <tr>
            <td class="CloneBhamashaID"></td>
            <td class="CloneMemberName">Member Name</td>
            <td class="CloneFatherName">Father Name</td>
            <td class="CloneGender">Gender</td>
            <td class="CloneAge">Age</td>
            <td class="CloneEmail">Email</td>
            <td class="CloneMobile">Mobile</td>
            <td class="CloneIsDependant">Is Dependant</td>
            <td class="CloneAction" style="width:10px;">
                <a name="delete" onclick="DeleteMemberDetails(this)" href="javascript:void(0)">Delete</a>
                <input type="hidden" name="tmpCloneBhamashahID" data-idtype="hdnMDBhamashahID" data-nametype1="MemberDetailsList" data-nametype2="BhamashahID" />
                <input type="hidden" name="tmpCloneMemberName" data-idtype="hdnMDMemberName" data-nametype1="MemberDetailsList" data-nametype2="MemberName" />
                <input type="hidden" name="tmpCloneFatherName" data-idtype="hdnMDFatherName" data-nametype1="MemberDetailsList" data-nametype2="FatherName" />
                <input type="hidden" name="tmpCloneGender" data-idtype="hdnMDGender" data-nametype1="MemberDetailsList" data-nametype2="Gender" />
                <input type="hidden" name="tmpCloneAge" data-idtype="hdnMDAge" data-nametype1="MemberDetailsList" data-nametype2="Age" />
                <input type="hidden" name="tmpCloneEmail" data-idtype="hdnMDEmail" data-nametype1="MemberDetailsList" data-nametype2="Email" />
                <input type="hidden" name="tmpCloneMobile" data-idtype="hdnMDMobile" data-nametype1="MemberDetailsList" data-nametype2="Mobile" />
                <input type="hidden" name="tmpCloneIsDependant" data-idtype="hdnMDIsDependant" data-nametype1="MemberDetailsList" data-nametype2="IsDependant" />
            </td>
        </tr>
    </table>

    <table id="tmpMemberGramSabha">
        <tr>
            <td class="CloneBhamashaID"></td>
            <td class="CloneMemberName">Member Name</td>
            <td class="CloneFatherName">Father Name</td>
            <td class="CloneGender">Gender</td>
            <td class="CloneAge">Age</td>
            <td class="CloneEmail">Email</td>
            <td class="CloneMobile">Mobile</td> 
            <td class="CloneAction" style="width:10px;">
                <a name="delete" onclick="DeleteMemberDetails(this)" href="javascript:void(0)">Delete</a>
                <input type="hidden" name="tmpCloneBhamashahID" data-idtype="hdnMDBhamashahID" data-nametype1="MemberDetailsList" data-nametype2="BhamashahID" />
                <input type="hidden" name="tmpCloneMemberName" data-idtype="hdnMDMemberName" data-nametype1="MemberDetailsList" data-nametype2="MemberName" />
                <input type="hidden" name="tmpCloneFatherName" data-idtype="hdnMDFatherName" data-nametype1="MemberDetailsList" data-nametype2="FatherName" />
                <input type="hidden" name="tmpCloneGender" data-idtype="hdnMDGender" data-nametype1="MemberDetailsList" data-nametype2="Gender" />
                <input type="hidden" name="tmpCloneAge" data-idtype="hdnMDAge" data-nametype1="MemberDetailsList" data-nametype2="Age" />
                <input type="hidden" name="tmpCloneEmail" data-idtype="hdnMDEmail" data-nametype1="MemberDetailsList" data-nametype2="Email" />
                <input type="hidden" name="tmpCloneMobile" data-idtype="hdnMDMobile" data-nametype1="MemberDetailsList" data-nametype2="Mobile" /> 
            </td>
        </tr>
    </table>

    <table id="tmpBorderingVillage">
        <tr>
            <td class="CloneVillageCode">Village Code</td>
            <td class="CloneVillageName">Village Name</td>
            <td class="CloneAction" style="width:10px;">
                <a name="delete" onclick="DeleteBorderingVillage(this)" href="javascript:void(0)">Delete</a>
                <input type="hidden" name="tmpCloneVillageCode" data-idtype="hdnBVName" data-nametype1="BorderingVillageDetails" data-nametype2="VillageCode" />

            </td>
        </tr>
    </table>
</div>
