/* New Dashbord */
.btn-pay {
    width: auto!important;
    margin: 0 auto 11px;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    min-height: 210px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.box.box-success {
    border-top-color: #00a65a;
}
.box.box-warning {
    border-top-color: #f39c12;
}
.box.box-danger {
    border-top-color: #dd4b39;
}
.box.box-default {
    border-top-color: #d2d6de;
}
.box.box-info {
    border-top-color: #00c0ef;
}
.box.box-primary {
    border-top-color: #3c8dbc;
}
.box.box-red {
    border-top-color: #dd4b39;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
#tabcontrl .personal-task tr:first-child td {
    border-top:none!important;
}

.task-thumb {
    width: 90px;
    margin: 0 auto;
    display: block
}
.task-thumb img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.task-thumb-details {
    text-align: center;
    margin: 20px 0 0 10px;
}
.task-thumb-details h1, .task-thumb-details h1 a, .task-progress h1, .task-progress h1 a {
    color: #428bca;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
.task-thumb-details p, .task-progress p {
    padding-top: 5px;
    color: #a4aaba;
}


/*Scroller Css
	-----------------------------------------------------*/
.scrollbar {background:url(../../images/dashboard/scrollbar.png) no-repeat; height:13px !important; right: 0 !important;}
.sk_rail{right: 3px !important;	width: 3px!important;}
.SkrollThis2{ width:100% !important}


/* Top Area */
.headerfirst .navbar-default {
    box-shadow: none;
    background: #f8f8f8;
    border-color: #e7e7e7
}
.foot-inn {
    background: #f8f8f8;
    color: #333!important
}

#wrapper{ width:100% }

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff
}
#page-wrapper .btn{ width:100%}
#page-wrapper-inn .btn{ width:100%}
.page-header{ margin:0 0 20px; font-size: 24px; color: #777}

.rgt{ padding-right:0}
#page-wrapper-inn .pad{ padding:0}
.desh hr{ margin-top: 0; border-top: 1px solid #e7e7e7}

a { color: #337ab7}
a:focus, a:hover { color: #23527c; text-decoration: underline}
.navbar-top-links li { display: inline-block}
.navbar-top-links .dropdown-menu li { display: block}
.navbar-top-links .dropdown-menu li a div { white-space: normal}



/* Side Area */
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border: 1px solid #e7e7e7
}
.sidebar .sidebar-nav.navbar-collapse { padding-right: 0; padding-left: 0}
.sidebar .sidebar-search { padding: 15px}
.sidebar ul li { border-bottom: 1px solid #e7e7e7}
.sidebar ul li.active { background-color: #eee}
.sidebar ul li:last-child { border:none}
.sidebar .arrow { float: right}
.sidebar .fa.arrow:before { content: "\f104"}
.sidebar .active>a>.fa.arrow:before { content: "\f107"}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li { border-bottom: 0!important}
.sidebar .nav-second-level li a { padding-left: 37px}
.sidebar .nav-third-level li a { padding-left: 52px}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s
}
.btn-primary.btn-outline { color: #428bca}
.btn-success.btn-outline { color: #5cb85c}
.btn-info.btn-outline { color: #5bc0de}
.btn-warning.btn-outline { color: #f0ad4e}
.btn-danger.btn-outline {  color: #d9534f}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff
}

.dataTables_wrapper {
    position: relative;
    clear: both
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5)
}


/* News Box Css */
.alert-mar{ margin: 20px 0}
.alert-mar .panel-body { min-height: 100px}
.panel-body { padding: 10px; position: relative}
.alert-mar .panel-body marquee a{ color:#222; cursor:pointer}


/* Tab Css */
/*.request-id>table>thead>tr>th{ font-size:14px}*/
.panel.with-nav-tabs .panel-heading { padding: 5px 4px 0 5px}
.panel.with-nav-tabs .nav-tabs { border-bottom: none}
.desh-small{ font-size:14px; color:#777; font-style:italic}
.ellipsis{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis
}
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.btn-quicklinks {
    color: #337ab7;
    border: 1px solid #e7e7e7;
    background: #f8f8f8
}
.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2)
}
.btn-quicklinks:hover{color: #222;background-color:#eee;border-color:rgba(0,0,0,0.2)}
.btn-quicklinks:active{color: #222;background-color:#eee;border-color:rgba(0,0,0,0.2)}

#tab5default .panel-heading { padding: 10px 15px}
#tab5default .panel-body a { cursor: pointer}
.min-hgt{ min-height: 295px}	
.min-hgt1{ min-height: 230px}	
#tab5default { overflow-y: auto; height: 320px}
#tab1default, #tab2default, #tab3default{ min-height: 320px}

.progress-panel { padding-bottom: 5px}
.task-progress h1{
    color: #777;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    float: left;
}
.task-option { float: right; color: #a4aaba;}
.personal-task tbody tr td {
    border-color: #eeeff1
}
.panel>.table>tbody:first-child>tr:first-child td {
    border-top:1px solid #eeeff1
}
.personal-task > tbody > tr > td:last-child {
    text-align: right;
}
.badge.bg-primary {
    background: #428bca
}
.badge.bg-light-blue{
    background: #00c0ef
}
.badge.bg-green{
    background: #5cb85c
}
.badge.bg-yellow{
    background: #f0ad4e
}
.badge.bg-red{
    background: #d9534f
}
.badge.bg-pink{
    background: #ff6c60
}
.readmor { float: right; width: auto!important}

/* Form Css */
.smh{min-height: 600px;}
#page-wrapper-inn .panel-body .form-group {  margin-bottom: 10px}
#page-wrapper-inn .divider {
    height: 1px;
    margin: 0 0 15px;
    overflow: hidden;
    background-color: #e5e5e5;
}
#page-wrapper-inn .panel-default>.panel-heading { font-size: 16px}
.un-bold label{ font-weight:normal; font-size: 13px}
#btn .btn { width: auto}
#btn-ap .btn { width: auto; float: left; margin: 0 2px}
#page-wrapper-inn .btn-padd { margin: 15px 0 22px; float: left}
#page-wrapper-inn .table>thead>tr>th { width: 20%}
#tbl-new thead tr th { width: auto!important}
#tbl-new{ padding: 15px}
#tbl{ padding: 15px}
#tbl .table-responsive{ padding:5px}
#tbl .table { margin-bottom: 0}
.mandatory{color: red;}
#width-contrl>thead>tr>th { width: 13%} 
.fpr { margin-bottom: 20px;}

#services a{ cursor:pointer}
.huge { font-size: 14px}
#services .panel-footer { padding: 5px 15px}

.panel-blue {border-color: #428bca}
.panel-blue .panel-heading {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
}
.panel-blue a { color: #428bca}
.panel-blue a:hover { color: #428bca}

.panel-light-blue {border-color: #00c0ef}
.panel-light-blue .panel-heading {
    border-color: #00c0ef;
    color: #00c0ef;
    background-color: #fff;
}
.panel-light-blue a { color: #00c0ef}
.panel-light-blue a:hover { color: #428bca}

.panel-green { border-color: #5cb85c}
.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #5cb85c;
    background-color: #fff
}
.panel-green a { color: #5cb85c}
.panel-green a:hover { color: #3d8b3d}

.panel-red { border-color: #d9534f}
.panel-red .panel-heading {
    border-color: #d9534f;
    color: #d9534f;
    background-color: #fff
}
.panel-red a { color: #d9534f}
.panel-red a:hover {  color: #b52b27}

.panel-yellow { border-color: #f0ad4e}
.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #f0ad4e;
    background-color: #fff
}
.panel-yellow a { color: #f0ad4e}
.panel-yellow a:hover { color: #df8a13}

.panel-pink { border-color: #ff6c60}
.panel-pink .panel-heading {
    border-color: #ff6c60;
    color: #ff6c60;
    background-color: #fff
}
.panel-pink a { color: #ff6c60}
.panel-pink a:hover { color: #77302f}

#ser-a a{ cursor:pointer}
.help-margn{ margin: 0px 0 15px; float: left; width: 36%}

.btn-circle {
    width: 30px!important;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
#myInventoryManagement .btn {  width: auto}
#myInventoryManagement .modal-footer { clear: both}
#myAssetManagement .btn {  width: auto}
#myAssetManagement .modal-footer { clear: both}
#myDepotManagement .btn {  width: auto}
#myDepotManagement .modal-footer { clear: both}
#myAddNewAuction .btn {  width: auto}
#myAddNewAuction .modal-footer { clear: both}
#GenerateFIR .btn {  width: auto}
#GenerateFIR .modal-footer { clear: both}
#GenerateFIR{ Z-INDEX: 9999}


.name-orange { color: #ec971f;}
.name-to-cc { color: #ccc;}

/* Print Invoice */
.print-invoice .panel-body .form-group {
    margin-bottom: 10px;
}
.print-invoice .divider {
    height: 1px;
    margin: 0 0 15px;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}
.border-divider{
    margin: 0 0 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 50px;
}
.print-invoice  h4{ margin-bottom:0}
.pdate {
    font-size: 14px;
    padding: 10px 0;
}
.invoice {
    position: relative;
    background: #fff;
}
.print-invoice {
    position: relative;
    background: #fff;
    border: 1px solid #f4f4f4;
    padding: 20px;
    margin: 10px 25px;
}
#page-wrapper-inn .invoice .table>thead>tr>th {
    width: auto;
}
.no-shadow {
    box-shadow: none!important;
}
#page-wrapper-inn .no-print .btn { width: auto}
.print-bg{ box-shadow: none; background: #f8f8f8; border-color: #e7e7e7; padding: 5px; font-weight: bold;}
.centr { text-align: center; padding: 10px 0 0}
#tkt.table>tbody>tr>td{ border:none; padding: 1px}
#tkt label { font-weight: normal}
#tbl_unbold th{ font-weight: normal}
#page-wrapper-inn .payment .table>thead>tr>th { width: 20%;}


	
@media(min-width:768px) {

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts { width: 310px; margin-left: -60px}

	#page-wrapper {
        position: inherit;
        padding: 0;
	    margin: 0 0 0 260px
    }
	#page-wrapper-inn {
        position: inherit;
        padding: 0;
	    margin: 0 0 0 275px
    }
    .sidebar {
		z-index:1;
		float:left;
        width: 250px;
        margin: 0 0 20px;
    }
/*	.action-req .sidebar { position: absolute;}*/

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto
    }
	
	.mdw .form-group { margin-bottom: 10px}
	.ad-ser-btn{ width:auto!important; margin: 10px 0 7px; float:right}
}

/* Desktop devices */
@media(min-width: 992px){
	.request-id{ overflow-y: auto;}
	.navbar-brand { padding: 8px 15px}
	#nav #myLogo img{ max-width:85%}
	.img-responsivebrand { height: auto; padding: 4px 0}
	#navbar-collapse-1 img{ max-width:90%}
	
}


/* Medium devices (IPAD) */
@media (max-width: 1024px) and (min-width: 768px){
    #page-wrapper {
    padding: 0;
    margin: 0;
    float: right;
    width: 63%;
}

	.navbar-brand { padding: 8px 15px}
	#nav #myLogo img{ max-width:80%}
	#tabforest .panel.with-nav-tabs .nav-tabs { height: 84px}
    #tabcitizen .panel.with-nav-tabs .nav-tabs { height: 42px}
	#page-wrapper .rgt .nav>li>a {  padding: 10px 5px}
	.img-responsivebrand { height: auto; padding: 4px 0}
	#btn .btn:nth-of-type(3)  {  margin: 5px 0 0}
	.min-hgt { min-height: auto}
	.dataTable_wrapper{ overflow-y: auto}
	.col-md-6{ padding-right:15px!important}
	.request-id{ overflow-y: auto; float: left; width: 100%}
    #tbl{ overflow-y: auto; float: left; width: 100%}
	.fpr .form-group { margin-bottom: 5px!important}
	.AddNewProject{ margin: 0 0 10px}
    .help-margn {  width: 100%}
    .btn-quicklinks { z-index: 999}
	.print-invoice .border-divider #myLogo img { max-width: 100%}
}

/* Medium devices landscape (IPAD) */
@media (min-width:768px)  and (orientation:landscape) 
{ 

}

/* Print Ticket */
@media print{
.print-invoice .border-divider .col-xs-12 { width: 33%;}
.print-invoice .col-lg-6 { width: 50%;}
}

/* Extra Small devices (Iphone, 320px and up) */
@media (max-width: 767px) and (min-width: 275px){
    .nav>li>a {  padding: 10px 13px;}
    .navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
    .navbar-top-links .dropdown-messages { margin-left: 5px}
    .navbar-top-links .dropdown-alerts { margin-left: -59px }
    .navbar-top-links .dropdown-tasks {  margin-left: -123px}   
    .navbar-top-links .dropdown-user { right: 0; left: auto }
    .navbar-top-links .dropdown-menu { padding-left: 0}


    .navbar-default { border: none; box-shadow: none}
	.navbar-brand { padding: 8px 15px}
	#nav #myLogo img{ max-width:80%}
	#navbar-collapse-1 img{ max-width:90%; padding: 8px 15px}
	.page-header {  margin: 10px 0 20px}
	.alert-mar { background: #fff; padding: 0}
	#page-wrapper { padding: 0}
	#page-wrapper .rgt { padding-left: 8px; padding-right: 15px}
	.dataTable_wrapper{ overflow-y: auto}
	#page-wrapper .btn { margin: 5px}
	#btn .btn { width: 100%; margin: 5px}
	.AddNewProject{ margin: 0 0 10px}
        .invoice { padding: 6px}
        #page-wrapper-inn .no-print .btn { width: 100%; float: left!important; margin: 2px }
        .AddNewScheme, .AddProgramme, .AddNewDepot, .AddNewAuction { margin: 0 0 10px}
	.print-invoice .border-divider #myLogo img { max-width: 100%}
	.print-bg{ float:left}

	.nav-tabs>li {float: left; width: 100%; border: 1px solid #f1f2f6}
	.NewForm(float: none!important)	
}

/* Extra Small devices (Iphone, 320px and landscape) */
@media (min-width:275px) and (max-width:750px) and (orientation:landscape) 
{ 
#nav #myLogo img { width: 50%}
}


/* IE Only 10*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
.desh .navbar-top-links{ float:right}
}

