/* Bug Fixing CSS */

#btnGo {
    margin: 25px 0 0;
    width: auto;
}


#place { padding: 0 0 15px; margin-right: 10px;}
#place a { width:auto!important;float:right;margin:5px; }
#place button { width:auto!important; float:right;margin:5px;}


#myModal {z-index: 9999;}
.pagination .next {
    background: none;
    border: none;
    padding: 0;
}

.short-ing>thead>tr>th {
    width: 0!important;
    padding: 0 5px 0 5px!important;
}
.short-ing>tbody>tr>td {
    word-wrap: break-word;
    max-width: 120px;
}
.kiosk_login {
    background: #337ab7;
    color: #fff;
}
.kiosk_login_small {
    font-size: 17px;
    color: #222;
    font-style: italic;
    padding: 10px;
}
#dvSchedulerDates tr td { padding: 10px 10px 6px 0;}
#dvSchedulerDates { border-bottom: 1px solid #ccc;  margin-bottom: 25px;}

/* Bug Fixing CSS End here */
.pagination .next {
    background: none;
    border: none;
    padding: 0;
}

.kiosk_login {
    background: #337ab7;
    color: #fff;
}
.kiosk_login_small {
    font-size: 17px;
    color: #222;
    font-style: italic;
    padding: 10px;
}

/* Top Area */
.headerfirst .navbar-default {
    box-shadow: none;
    background: #f8f8f8;
    border-color: #e7e7e7
}
.foot-inn {
    background: #f8f8f8;
    color: #333!important
}

#wrapper{ width:100% }
.font-change { font-family:Arial}
#btn-cont .btn { width:auto!important}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff
}
#page-wrapper .btn{ width:100%}

#page-wrapper-inn .btn{ width:100%}
.page-header{ margin:0 0 20px; font-size: 24px; color: #777;    font-weight: normal;}

.rgt{ padding-right:0}
#page-wrapper-inn .pad{ padding:0}
.desh hr{ margin-top: 0; border-top: 1px solid #e7e7e7}

a { color: #337ab7}
a:focus, a:hover { color: #23527c; text-decoration: underline}
.navbar-top-links li { display: inline-block}
.navbar-top-links .dropdown-menu li { display: block}
.navbar-top-links .dropdown-menu li a div { white-space: normal}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts { width: 310px; margin-left: -60px}

/* Side Area */
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border: 1px solid #e7e7e7
}
.sidebar .sidebar-nav.navbar-collapse { padding-right: 0; padding-left: 0}
.sidebar .sidebar-search { padding: 15px}
.sidebar ul li { border-bottom: 1px solid #e7e7e7}
.sidebar ul li.active { background-color: #eee}
.sidebar ul li:last-child { border:none}
.sidebar .arrow { float: right}
.sidebar .fa.arrow:before { content: "\f104"}
.sidebar .active>a>.fa.arrow:before { content: "\f107"}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li { border-bottom: 0!important}
.sidebar .nav-second-level li a { padding-left: 37px}
.sidebar .nav-third-level li a { padding-left: 52px}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s
}
.btn-primary.btn-outline { color: #428bca}
.btn-success.btn-outline { color: #5cb85c}
.btn-info.btn-outline { color: #5bc0de}
.btn-warning.btn-outline { color: #f0ad4e}
.btn-danger.btn-outline {  color: #d9534f}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff
}

.dataTables_wrapper {
    position: relative;
    clear: both
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5)
}


/* News Box Css */
.alert-mar{ margin: 20px 0}
.alert-mar .panel-body { min-height: 100px}
.panel-body { padding: 8px; position: relative}
.alert-mar .panel-body marquee a{ color:#222; cursor:pointer}


/* Mozzila only */
@-moz-document url-prefix() {
	  #tab1default .request-id .btn{ width:auto}
      #tab2default .moz .btn{ width:auto}
}
input[type="file"] { height: auto}
/* Mozzila only End */


/* Tab Css */
table{ font-size:12px}
.panel.with-nav-tabs .panel-heading { padding: 5px 4px 0 5px}
.panel.with-nav-tabs .nav-tabs { border-bottom: none}
.desh-small{ font-size:14px; color:#ccc; font-style:italic}
.ellipsis{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis
}
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.btn-quicklinks {
    color: #337ab7;
    border: 1px solid #e7e7e7;
    background: #f8f8f8
}
.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2)
}
.btn-quicklinks:hover{color: #222;background-color:#eee;border-color:rgba(0,0,0,0.2)}
.btn-quicklinks:active{color: #222;background-color:#eee;border-color:rgba(0,0,0,0.2)}

#tab5default .panel-heading { padding: 10px 15px}
#tab5default .panel-body a { cursor: pointer}
.min-hgt{ min-height: 295px}	
#tab5default { overflow-y: auto; height: 320px}
#tab1default, #tab2default ,#tab3default { min-height: 320px}
.tbl-scroll{ overflow-y: auto; height: 320px}
#myModalDashboard .tbl-scroll { overflow-y: auto; height: 600px!important;}
#btnprint{ width: auto!important; margin-right: 10px!important}
#divPrint .logo{
    margin: 0 auto;
    width: 32%;
    display: block;
    padding: 0 0 15px;
}

.progress-panel {
    padding-bottom: 5px;
}
.task-progress h1 {
    color: #777;
    float: left;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.task-option {
    color: #a4aaba;
    float: right;
}
.personal-task tbody tr td {
    border-color: #eeeff1;
    padding: 11px 15px;
}
.panel > .table > tbody:first-child > tr:first-child td {
    border-top: 1px solid #eeeff1;
}
.personal-task > tbody > tr > td:last-child {
    text-align: right;
}
.badge.bg-primary {
    background: #428bca none repeat scroll 0 0;
}
.badge.bg-light-blue {
    background: #00c0ef none repeat scroll 0 0;
}
.badge.bg-green {
    background: #5cb85c none repeat scroll 0 0;
}
.badge.bg-yellow {
    background: #f0ad4e none repeat scroll 0 0;
}
.badge.bg-red {
    background: #d9534f none repeat scroll 0 0;
}
.badge.bg-pink {
    background: #ff6c60 none repeat scroll 0 0;
}

/* Form Css */
#page-wrapper-inn .panel-body .form-group {  margin-bottom: 10px}
#page-wrapper-inn .divider {
    height: 1px;
    margin: 0 0 15px;
    overflow: hidden;
    background-color: #e5e5e5;
}
#page-wrapper-inn .panel-default>.panel-heading { font-size: 16px}
.un-bold label{ font-weight:normal; font-size: 13px}
#btn .btn { width: auto}
#page-wrapper-inn .btn-padd { margin: 15px 0 22px; float: left}
#page-wrapper-inn .table>thead>tr>th { width: 18%}
#dataTables-example .table>thead>tr>th { width: 18%!important}
#tbl{ padding: 15px}
#tbl .table-responsive{ padding:5px}
#tbl .table { margin-bottom: 0}
.mandatory{color: red;}
.acc-pad { padding:15px}
#page-wrapper-inn #btn-cont1 .btn {
    width: auto!important;
    margin: 25px 0 0;
}

.help-margn {
    margin: 0px 0 15px;
    float: left;
    width: 36%;
}
	
#btn-ap .btn {  width: auto; float: left; margin: 0 2px;}
#tbl-new { padding: 15px}
#tbl-new thead tr th { width: auto!important;}
.alert-danger1 {
    color: #a94442;
    position: absolute;
    right: 15px;
}
#btn a{ width: auto;  float: left;  margin: 0 6px 0 0}
#ViewRequest { float: left; margin: 0 5px 0 0}
.font-change { padding:10px 15px}
.icon {  color: #337ab7}
#btn-film .btn{ width: auto;  float: left;  margin: 0 4px 0 0}
#btn-film a{ width: auto;  float: left;  margin: 0 4px 0 0}

.huge {
    font-size: 14px;
}
#services .panel-footer {
    padding: 5px 15px;
}
#services a {
    cursor: pointer;
}
.panel-blue {
    border-color: #428bca;
}
.panel-blue .panel-heading {
    background-color: #fff;
    border-color: #428bca;
    color: #428bca;
}
.panel-blue a {
    color: #428bca;
}
.panel-blue a:hover {
    color: #428bca;
}
.panel-light-blue {
    border-color: #00c0ef;
}
.panel-light-blue .panel-heading {
    background-color: #fff;
    border-color: #00c0ef;
    color: #00c0ef;
}
.panel-light-blue a {
    color: #00c0ef;
}
.panel-light-blue a:hover {
    color: #428bca;
}
.panel-green {
    border-color: #5cb85c;
}
.panel-green .panel-heading {
    background-color: #fff;
    border-color: #5cb85c;
    color: #5cb85c;
}
.panel-green a {
    color: #5cb85c;
}
.panel-green a:hover {
    color: #3d8b3d;
}
.panel-red {
    border-color: #d9534f;
}
.panel-red .panel-heading {
    background-color: #fff;
    border-color: #d9534f;
    color: #d9534f;
}
.panel-red a {
    color: #d9534f;
}
.panel-red a:hover {
    color: #b52b27;
}
.panel-yellow {
    border-color: #f0ad4e;
}
.panel-yellow .panel-heading {
    background-color: #fff;
    border-color: #f0ad4e;
    color: #f0ad4e;
}
.panel-yellow a {
    color: #f0ad4e;
}
.panel-yellow a:hover {
    color: #df8a13;
}
.panel-pink {
    border-color: #ff6c60;
}
.panel-pink .panel-heading {
    background-color: #fff;
    border-color: #ff6c60;
    color: #ff6c60;
}
.panel-pink a {
    color: #ff6c60;
}
.panel-pink a:hover {
    color: #77302f;
}

.mar-btn{ margin: 26px 0 0}
.padn-rem{ padding: 0}

.btn-circle {
    width: 30px!important;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

#ui-datepicker-div{ z-index: 9999!important}
.input-width { width: 99%;}
/* Print Invoice */
.print-invoice .panel-body .form-group {
    margin-bottom: 10px;
}
.print-invoice .divider {
    height: 1px;
    margin: 0 0 15px;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}
.border-divider{
    margin: 0 0 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 50px;
}
.print-invoice  h6{ margin-bottom:0}
.pdate {
    font-size: 12px;
    padding: 0;
}
.invoice {
    position: relative;
    background: #fff;
}
.print-invoice {
    position: relative;
    background: #fff;
    border: 1px solid #f4f4f4;
    padding: 20px;
    margin: 10px 25px;
}
#page-wrapper-inn .invoice .table>thead>tr>th {
    width: auto;
}
.no-shadow {
    box-shadow: none!important;
}
#page-wrapper-inn .no-print .btn { width: auto}
.print-bg{ box-shadow: none; background: #f8f8f8; border-color: #e7e7e7; padding: 5px; font-weight: bold;}
.centr { text-align: center; padding: 0}
#tkt.table>tbody>tr>td{ border:none; padding: 5px}
#tkt label { font-weight: normal}
#tkt-Unbold th { font-weight: normal}

#addNewnotice { margin: 0 0 10px;  width: auto!important}
.btn_pp { margin: 0 0 10px;  width: auto!important}

#ul_msg>li>div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.navbar-top-links .dropdown-messages { width:430px}

.add2cart { color:#fff; font-size:28px!important }
.cart-items {
    position: absolute;
    margin-top: -6px;
    color:#fff;
    background: #000;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    cursor:pointer
}
.cart-bg{  
    background: #c9302c;
    width: 70px;
    padding: 10px;
    float: right;
    transition-property: background, box-shadow;
    transition-duration: .3s;
    transition-timing-function: linear;
    -webkit-transition-duration: .3s; 
    cursor:pointer
}
.cart-bg:hover {
        background: #c9302c;
    box-shadow: 0 5px 10px #222;
    text-decoration: none;
}
.ammount_paid { color:#ec971f}

.tble-x-scrol{  overflow-x: auto;  display: block;}
#myViewNoticeModal2 .mdw { width: 64%;}
.add-btn-servy{ width: auto!important; float:right; z-index:9994; position:relative; margin:10px 23px 10px;}


@media(min-width:768px) {
	#page-wrapper {
        position: inherit;
        padding: 0;
	margin: 0 0 0 260px
    }
	#page-wrapper-inn {
        position: inherit;
        padding: 0;
	    margin: 0 0 0 275px
    }
    .sidebar {
	z-index:1;
	float:left;
        width: 250px;
        margin: 0 0 20px;
    }
/*	.action-req .sidebar { position: absolute;}*/

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto
    }
	
#myModalDashboard .modal-dialog { width: 720px!important}	

}



/* Medium devices (IPAD) */
@media (max-width: 1024px) and (min-width: 768px){
     #page-wrapper {
    padding: 0;
    margin: 0;
    float: right;
    width: 63%;
   } 
	.navbar-brand { padding: 8px 15px}
	#nav #myLogo img{ max-width:80%}
	#tabforest .panel.with-nav-tabs .nav-tabs { height: 84px}
    #tabcitizen .panel.with-nav-tabs .nav-tabs { height: 42px}
	#page-wrapper .rgt .nav>li>a {  padding: 10px 5px}
	.img-responsivebrand { height: auto; padding: 4px 0}
	#btn .btn:nth-of-type(3)  {  margin: 5px 0 0}
	.min-hgt { min-height: auto}
	.dataTable_wrapper{ overflow-y: auto}
	.col-md-6{ padding-right:15px!important}
	.request-id{ overflow-y: auto; float: left; width: 100%}
    #tbl{ overflow-y: auto; float: left; width: 100%}
	.fpr .form-group { margin-bottom: 5px!important}
	.AddNewProject{ margin: 0 0 10px}
    .help-margn {  width: 100%}
    .btn-quicklinks { z-index: 999}
	.print-invoice .border-divider #myLogo img { max-width: 100%}

     .ad-scrolll { overflow-x: auto!important }
}

/* Print Ticket */
@media print{
.print-invoice .border-divider .col-xs-12 { width: 33%;}
.print-invoice .col-lg-6 { width: 50%;}
}

/* Medium devices landscape (IPAD) */
@media (min-width:768px)  and (orientation:landscape) 
{ 
  
}


/* Extra Small devices (Iphone, 320px and up) */
@media (max-width: 767px) and (min-width: 275px){
    .navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
    .navbar-top-links .dropdown-messages { margin-left: 5px}
    .navbar-top-links .dropdown-alerts { margin-left: -59px }
    .navbar-top-links .dropdown-tasks {  margin-left: -123px}   
    .navbar-top-links .dropdown-user { right: 0; left: auto }
    .navbar-top-links .dropdown-menu { padding-left: 0}

    .navbar-default { border: none; box-shadow: none}
	.navbar-brand { padding: 8px 15px}
	#nav #myLogo img{ max-width:80%}
	#navbar-collapse-1 img{ max-width:90%; padding: 8px 15px}
	.page-header {  margin: 10px 0 20px}
	.alert-mar { background: #fff; padding: 0}
	#page-wrapper { padding: 0}
	#page-wrapper .rgt { padding-left: 8px; padding-right: 15px}
	.dataTable_wrapper{ overflow-y: auto}
	#page-wrapper .btn { margin: 5px}
	#btn .btn { width: 100%; margin: 5px}
	.AddNewProject{ margin: 0 0 10px}
    .invoice { padding: 6px}
    #page-wrapper-inn .no-print .btn { width: 100%; float: left!important; margin: 2px }
    .AddNewScheme { margin: 0 0 10px}
	.print-invoice .border-divider #myLogo img { max-width: 100%}
	.print-bg{ float:left}
      .mobile-overflow { overflow: inherit!important}
	
}

/* Extra Small devices (Iphone, 320px and landscape) */
@media (min-width:275px) and (max-width:750px) and (orientation:landscape) 
{ 
#nav #myLogo img { width: 50%}
}


/* IE Only 10*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
.desh .navbar-top-links{ float:right}
#refresh { height: 22px!important; padding-top:2px}
}