@{
    ViewBag.Title = "ExecuteQuery";
    Layout = Convert.ToString(HttpContext.Current.Session["CurrentLayout"].ToString()); // "~/Views/Shared/_SuperAdmin.cshtml";
}
<div id="page-wrapper-inn">

    <h1 class="page-header">Execute Query</h1>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                @using (Html.BeginForm("SubmitQuery", "Master", FormMethod.Post))
                {

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Enter Query:<span class="mandatory">*</span></label>
                            <textarea class="form-control" id="Query" name="Query" placeholder="Query Discription" rows="2" maxlength="500"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12"></div>
                    <div class="btn-padd">
                        <div id="btn" class="col-lg-12">
                            <button type="submit" class="btn btn-success" name="Command" value="save" id="btnSubmit">
                                <i class="fa fa-check"></i> Submit
                            </button>

                            <span style="color:red; font-weight:bold; font-size:16px; ">   @ViewBag.Status </span>

                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
