@{
    ViewBag.Title = "BudgetReportChart";
    Layout = null;
}

<script type='text/javascript' src='https://va.rajasthan.gov.in/javascripts/api/viz_v1.js'></script>
<div id="page-wrapper-inn">
    <div class="row">
        <div class='tableauPlaceholder' style='width: 1429px; height: 684px;'>
            <object class='tableauViz' width='1429' height='684' style='display: none;'>
                <param name='host_url' value='https%3A%2F%2Fva.rajasthan.gov.in%2F' />
                <param name='site_root' value='' />
                <param name='name' value='FOREST-AMOUNT/AllocationExpenditure' />
                <param name='tabs' value='yes' />
                <param name='toolbar' value='yes' />
                <param name='showShareOptions' value='true' />
                <param name='refresh' value='true' />
                <param name='filter' value='' runat="server" id="tableaupramFilter" />
            </object>
        </div>
    </div>
</div>
