/* Small devices (tablets, 768px and up) */
@media (min-width:768px){
body{overflow-x:hidden}

.img-responsivebrand{height:28px}
.navbar { border-radius: 0; margin-bottom:0 }
.headerfirst .navbar-default{box-shadow:0 4px 10px #ccc; background:#f7f3df; border-color: #ccc }
.nav>li>a{padding:10px 8px }
#nav ul.nav li:hover > ul.dropdown-menu {display: block }
#navbar {text-align: center }
.navbar-nav {float: right;margin: 0 }
.navbar-nav .active{ background:#85cc38 }

.carousel-inner{ margin:0!important }
.welcome h1{ font-size:22px !important }
.cm_img{ bottom:130px!important}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px){
.navbar-nav>li { padding: 10px 0 9px }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px){
.container {width: 1170px }	
.img-responsivebrand{height:auto; padding:4px 0 }
.navbar-nav>li{display: inline-block; text-align: center; padding: 10px 0px 12px }
.nav>li>a{position:relative;display:block;padding:10px 15px }
.navbar-default .navbar-nav .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:focus {
     background-color: #eff8c6
}


.carousel-inner{position:relative;width:100%;height:765px;overflow:hidden;margin:0}
.sliderarea{width:100%;height:518px; position: relative}
.cm_img { bottom: 90px!important }
.welcome h1 { font-size:30px !important }

}

/* Extra Small devices (Iphone, 320px and up) */
@media (min-width:275px) and (max-width:767px){
body{overflow-x:hidden}
.img-responsivebrand{height:50px; padding:7px 0 }
.navbar-default{box-shadow:0 4px 10px #ccc; background:#f7f3df; border-color: #ccc }

.navbar{ margin-bottom:0}
.navbar-default .navbar-toggle {
	border-color: #85cc38;
	transition-property: border, background-color;
	transition-duration: .3s;
	transition-timing-function: linear
}  	
.navbar-default .navbar-nav .dropdown-menu > li > a {
	background-color: #c7d388;
	margin-top: 2px;
	margin-right: 2px
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #eff8c6
}
.navbar-nav .open .dropdown-menu {border-bottom: 1px solid white; border-radius: 0 }
.dropdown-menu { padding-left: 10px }
.dropdown-menu .dropdown-menu { padding-left: 20px }
.dropdown-menu .dropdown-menu .dropdown-menu { padding-left: 30px }
li.dropdown.open { border: 0px solid red }
.navbar-nav .active{ background:#85cc38 }


.cm_img{ max-width: 31%!important; top: 121px; display:none }
.welcome{ position:relative!important; background:none!important; top:0!important }
.welcome h1 {  color: #333!important; font-size: 18px!important }

footer{ position:relative!important }
footer .copyrite .fr { float: left!important; text-align: left!important }

}

/* Extra Small devices (Iphone Landscape, 420px and up) */
@media (min-width:275px) and (max-width:750px) and (orientation:landscape){
.navbar-fixed-top, .navbar-fixed-bottom{ position:absolute }
}

/* Small devices (tablets Landscape, 768px and up) */
@media (min-width:768px) and (orientation:landscape){}
@media screen and (min-width:0) and (min-resolution:+72dpi){
	
	}
}

/* IE11 Broser */
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none){
}