@{
    ViewBag.Title = "iframindex";
}

<h2>iframindex</h2>
@*<iframe name="iframe1" src="target.html"></iframe>

<a href="http://10.70.231.190/Plantation/PlantationDashboard" target="iframe1">link</a>*@


