@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(document).ready(function () {

        var origin = document.location.origin;
        $("#test").text(origin);

    });
</script>

this is Origin<p id="test"></p><br />
this is Session <p>@Session["HoldIpAddress"]</p>


<form method="post">

</form>