@model FMDSS.Models.MiddleWareModules

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/css2.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="~/css/mk_layout.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="icon" href="~/images/favicon.png" type="image/png" sizes="24x24">
    <title>Forest Department,Government of Rajasthan</title>
</head>



<body class="fmmks">
    <section class="welcome-section content-space fmmks">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-xl-12 mt-5">
                    <div class="carousel-caption2 d-md-block text-center mb-25">
                        <div class="container-fluid">
                            <h3> Aaranyak </h3>
                            <!--<h5>Forest Management &amp; Decision </h5>-->
                            <h5 class="mb-5">Forest Management &amp; Decision  Support System (FMDSS)</h5>
                        </div>
                    </div>
                    <ul class="key-list-info mt-5">
                        @foreach (var itm in Model.MWMG_List)
                        {
                        <li class="mkbox">
                           
                                 <span style="color:#fff;"><a href="/MiddleWare/MiddleWareModules?MainGroupId=@itm.MainModuleId">  
                                        <picture>
                                            <img src="@itm.ModuleImg.Replace("~","")" alt="">
                                        </picture> 
                                        <br />
                                        @itm.MainModuleName                                                                                                                           
                                 </a></span>
                        </li>
                        }

                    </ul>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </section>
    <script src="~/js/jquery-3.js"></script>
    <script src="~/js/bootstrap.js"></script>
</body>
</html>
