@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Nursery Plants</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
    <link href="~/css/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/datatable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/css2.css" rel="stylesheet">

    <script src="~/Scripts/jquery.blockUI.js"></script>


    <script src="~/Scripts/googleapis/3.2.1/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap/3.3.7/bootstrap.min.js"></script>



    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="~/css/datatb.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="icon" href="~/images/favicon.png" type="image/png" sizes="24x24">
    <script src="~/js/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    @*<script src="~/Scripts/datatablejs/jquery-1.12.4.js"></script>*@
    <script src="~/Scripts/datatablejs/jquery.dataTables.min.js"></script>
    <title>Forest Department,Government of Rajasthan</title>
    <style>
    </style>
</head>
<body class="fmmks">
    <form id="form11" name="form11" method="post" target='_blank'>

        <input type="hidden" id="ssoidnUR" name="ssoid" value="" />
        <input type="hidden" id="ofcid" name="ofcid" value="DOITC" />
        <input type="hidden" id="requestFornUR" name="requestFor" value="" />
        <input type="hidden" id="coordinatesnUr" name="coordinates" value="" />
        <input type="hidden" id="nurserydetails" name="nurserydetails" value="" />
        <input type="hidden" id="portalidnUR" name="portalid" value="" />
        <input type="hidden" id="returnurl" name="returnurl" value="" />
    </form>
    <section class="welcome-section content-space fmmks">
        <div class="container-fluid">
            <div class="row  col-md-12">
                @*<div class="col-md-12" style="text-align:right"><a href="~/Home/Home" style="font-size:large">Home</a></div>*@
            
                <div class="col-md-12" style="text-align:right"><a href="http://10.70.231.169/" style="font-size:large">Back to Index</a></div>
               
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12 mt-5">
                    <div class="carousel-caption2 d-md-block text-center mb-25">
                        <div class="container-fluid">
                            <h3> Aaranyak </h3>
                            <!--<h5>Forest Management &amp; Decision </h5>-->
                            @*<h5 class="mb-5">Forest Management &amp; Decision  Support System (FMDSS)</h5>*@
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-12 mt-5">
                        <div class="carousel-caption2 d-md-block text-center mb-25">
                            <div class="container-fluid">
                                <h5 class="mb-5 txt">ONLINE FOREST NURSERY SERVICE</h5>
                            </div>
                        </div>
                    </div>

                    @* <a href="javascript:void(0);" style="color:black!important" onclick="DisplayQtyDetail();"></a>*@
                    <div class="row manitab">

                        <div class="col-md-1 col-xl-1 mb-5"></div>

                        <div class="col-md-10 col-xl-10 mb-5">
                            <div class="col-md-4 col-xl-4 mb-5">
                                <select class="form-control" data-val="true" data-val-number="The field " data-val-required="The field is required." id="ddlDistrict" name="DistrictName">
                                    <option value="">--Select District--</option>

                                </select>
                            </div>
                            <div class="col-md-4 col-xl-4 mb-5">
                                <select class="form-control" data-val="true" data-val-number="The field " data-val-required="The field is required." id="ddlNursery" name="NurseryName">
                                    <option value="">--Select Nursery--</option>

                                </select>
                            </div>
                            <div class="col-md-4 col-xl-4 mb-5 " style="padding-bottom:15px!important;">
                                <select class="form-control" data-val="true" data-val-number="The field " data-val-required="The field is required." id="ddlProduct" name="ProductName">
                                    <option value="">--Select Plant--</option>

                                </select>
                            </div>
                            <div class="table-responsive nus hhh mt-5" id="tbl_NurseryProduct">
                                <table id="tbl_NurseryPlants" class="table table-bordered " style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>Nursery Name</th>
                                            <th>Address & Contact Details </th>
                                            <th>Plants Availibility</th>
                                            @*<th>Plants Purchase Procedure</th>
                                                <th>Purchase Now</th>*@
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-1 col-xl-1 "></div>

                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="myPlantAvailibity" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Product Details</h4>
                    <h5 class="modal-title">Nursery Name: <span id="spnNursery"> </span></h5>
                    <h5 class="modal-title">Plant Name: <span id="spnPlantName"> </span></h5>
                </div>
                <div class="modal-body">
                    <div class="table-responsive nus hhh mt-5" id="tbl_NurseryProduct">
                        <table id="tbl_NurseryPlantsDetail" class="table table-bordered " style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Height</th>
                                    <th>Price(INR)</th>
                                    <th>Plants Availibility</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="modalNurseryIncharge" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nursery Incharge Detail</h4>
                    <h5 class="modal-title">Nursery Name: <span id="spnInchargeNursery"> </span></h5>
                </div>
                <div class="modal-body mb-150" >

                    <div class="col-md-8 mt5 mb-lg-5">
                        <div class="form-group">
                            <label>Incharge Name</label>
                            <span id="spnInchargeName"></span>
                        </div>
                    </div>
                    <div class="col-md-4 mt5 mb-lg-5">
                        <div class="form-group">
                            <label>Mobile NO</label>
                            <span id="spnInchargeMobile"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mt5 mb-lg-5">
                        <div class="form-group">
                            <label>Address</label>
                            <span id="spnNurseryAddress"></span>
                        </div>
                    </div>
                    <div class="col-md-4 mt5 mb-lg-5">
                        <div class="form-group">
                            <label>Latitude</label>
                            <span id="spnLat"></span>
                        </div>
                    </div>
                    <div class="col-md-4 mt5 mb-lg-5">
                        <div class="form-group">
                            <label>Longitude</label>
                            <span id="spnLong"></span>
                        </div>
                    </div>
                    <div class="col-md-4 mt5 mb-lg-5">
                        <div class="form-group">
                            <label>View On GIS</label>
                            <a href="#" title="View GIS" onclick="POSTGIS();">
                                @*<img src="~/Content/Images/geo-alt.svg" />*@
                                <img src="~/Content/Images/GIS.png" style="width:25px;height:25px;" />
                                @*  <i class="fa fa-close" style="color:#000000"></i>*@
                            </a>
                        </div>
                        <div class="form-group">
                            <label>Google Map</label>
                            <a href="#" title="View GIS" onclick="GoGoogleMap();">
                                @*<img src="~/Content/Images/geo-alt.svg" />*@
                                <img src="~/Content/Images/googlemap.png" style="width:35px;height:25px;" />
                                @*  <i class="fa fa-close" style="color:#000000"></i>*@
                            </a>
                        </div>
                        
                    </div>
                    <div>
                        <span id="spnNurseryImg" style="display:none"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    @*<input type="button" name="Show" value="Show" onclick="Show();" />*@

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <script>
        $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
        var webApiPath = '@ViewBag.FMDSS2_API_Url'//'http://localhost:50098';

        $(document).ready(function () {
            GetDistrict();
        });
        function GetDistrict() {
            $('#ddlDistrict').empty();
            var ddlDistrict = $('#ddlDistrict');
            $.ajax({
                type: 'GET',
                url: webApiPath + '/api/commontask/GetDistrictList',
                data: {},
                dataType: "json",
                success: function (response) {
                    ddlDistrict.append('<option disabled selected>Select District</option>');
                    if (response.Status == 1) {
                        $.each(response.Data, function (i, obj) {
                            ddlDistrict.append(new Option(obj.DIST_NAME, obj.DIST_CODE));
                        });
                    } else {
                        alert(response.Message)
                    }


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }
         $(document).on('change', '[id="ddlDistrict"]', function () {
                var distcode = $(this).val();
                if (distcode == null || distcode == undefined || distcode == '')
                    return false;
                GetNursery(distcode);
            });
            function GetNursery(distcode)
            {
                var ddlNursery = $('#ddlNursery').empty();

                //var spUrl = '@Url.Action("GetNurseryListByDistrict", "Nursery")';
                $.ajax({
                    type: 'get',
                    url: webApiPath + '/api/Nursery/GetNurseryListByDistrict',
                    data: { 'DistCode': distcode},
                    dataType: "json",
                    success: function (response) {
                        ddlNursery.append('<option disabled selected>Select Nursery</option>');
                        if (response.Status == 1) {
                            ddlNursery.append('<option value="0" > All Nursery</option>');
                            $.each(response.Data, function (i, obj) {
                                    ddlNursery.append(new Option(obj.Text, obj.Value));
                            });
                        } else {
                            alert(response.Message)
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }
                });
            }
            $(document).on('change', '[id="ddlNursery"]', function () {
                var NurseryCode = $(this).val();
                if (NurseryCode == null || NurseryCode == undefined || NurseryCode == '') {
                    alert('select nursery');
                    return false;
                }
                var distcode = $('#ddlDistrict').val();
                if (distcode == null || distcode == undefined || distcode == '') {
                    alert('select district');
                    return false;
                }

                GetProduct(NurseryCode, distcode);
            });
            function GetProduct(nurseryCode, districtCode) {
                var ddlProduct = $('#ddlProduct').empty();
                ddlProduct.append('<option value="" selected>Select Plant</option>');
                $.ajax({
                    type: 'get',
                    url: webApiPath + '/api/Nursery/GetPlantListByNursery',
                    data: { 'DistrictCode': districtCode, 'NURSERY_CODE': nurseryCode },
                    dataType: "json",
                    success: function (response) {
                        //ddlProduct.append('<option value="0" >ALL</option>');
                        if (response.Status == 1) {
                            $.each(response.Data, function (i, obj) {
                                ddlProduct.append(new Option(obj.Text, obj.Value));
                            });
                        } else {
                            alert(response.Message)
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }
                });
            }
            $(document).on('change', '[id="ddlProduct"]', function () {
                var PlantId = $(this).val() | 0;
                var NurseryCode = $('#ddlNursery').val();

                if ((PlantId == null || PlantId == undefined || PlantId == '') && PlantId < 0) {
                    alert('select Plant Name');
                    return false;
                }

                if ((NurseryCode == null || NurseryCode == undefined || NurseryCode == '')) {
                    alert('select nursery');
                    return false;
                }
                var distcode = $('#ddlDistrict').val();
                if (distcode == null || distcode == undefined || distcode == '') {
                    alert('select district');
                    return false;
                }

                GetProductDetail(PlantId, NurseryCode, distcode);
            });
            function GetProductDetail(plantId, nurseryCode, distcode) {

                $('#tbl_NurseryPlants').dataTable({
                    "destroy": true,
                    "paging": true,
                    "ordering": true,
                    "filter": true,
                    "orderMulti": false,
                    "serverSide": true,
                    "lengthChange": true,
                    "Processing": true,
                    "bProcessing": true,
                    "pageLength": 10,
                    "columnDefs": [
                        { "width": "5%", "targets": [0] }
                    ],
                    "ajax":
                    {
                        "url": webApiPath + '/api/Nursery/GetNurseryPlantList',
                        "type": "GET",
                        "dataType": "JSON",
                        "data": { 'PlantId': plantId, 'NurseryCode': nurseryCode, 'DistrictCode': distcode }
                    },
                    'processing': true,
                    "aoColumns": [
                        //{
                        //    "mDataProp": "Id",
                        //    "visible": false
                        //},
                        { "data": "NurseryName" },
                        { "data": "Address" },
                        { "data": "Availibility" },
                        //{ "data": "PurchaseProcedure" },
                        //{ "data": "PurchaseNow" }
                    ],
                    "columnDefs": [
                        { "title": "Nursery Name", "targets": 0 },
                        { "title": "Address & Contact Details", "targets": 1 },
                        { "title": "Plants Availibility", "targets": 2 },
                        //{ "title": "Plants Purchase Procedure", "targets": 3 },
                        //{ "title": "Purchase Now", "targets": 4 },
                        //{
                        //    "targets": [1],
                        //    "visible": false,
                        //    "searchable": false
                        //},
                    ]
                });
        }
        function DisplayQtyDetail(nurseryCode,id,nurseryName) {
            var qty = parseInt(id.text) | 0;
            if (qty <= 0) {
                alert('No Quantity Available !!!');
                return false;
            }
            var productName = $("#ddlProduct option:selected").text();
            var plantId = $("#ddlProduct").val()|0;
            $('#spnPlantName').text(productName);
            $('#spnNursery').text(nurseryName);

            GetPlantDetails(nurseryCode, plantId)
            //alert(id.text);
            $('#myPlantAvailibity').modal({
                backdrop: 'static',
                keyboard: true,
                show: true
            });
        }
        function NurseryDetail(id,NurseryCode, NurseryName, InchargeName, MobileNo,Lat,Long,NurseryImg) {
            $('#spnInchargeNursery').text(NurseryName + ' [' + NurseryCode+']');
            $('#spnNurseryAddress').text(id.text);
            $('#spnInchargeName').text(InchargeName);
            $('#spnInchargeMobile').text(MobileNo);
            $('#spnLat').text(Lat);
            $('#spnLong').text(Long);
            $('#spnNurseryImg').text(NurseryImg);

            $('#modalNurseryIncharge').modal({
                backdrop: 'static',
                keyboard: true,
                show: true
            });
        }
        function GetPlantDetails(nurseryCode, plantId) {
            $('#tbl_NurseryPlantsDetail').dataTable({
                "destroy": true,
                "paging": true,
                "ordering": true,
                "filter": true,
                "orderMulti": false,
                "serverSide": true,
                "lengthChange": true,
                "Processing": true,
                "bProcessing": true,
                "pageLength": 10,
                "columnDefs": [
                    { "width": "5%", "targets": [0] }
                ],
                "ajax":
                {
                    "url": webApiPath + '/api/Nursery/GetPlantDetail',
                    "type": "GET",
                    "dataType": "JSON",
                    "data": { 'PlantId': plantId, 'NurseryCode': nurseryCode }
                },
                'processing': true,
                "aoColumns": [
                    //{
                    //    "mDataProp": "Id",
                    //    "visible": false
                    //},
                    { "data": "PlantHeight" },
                    { "data": "PlantPrice" },
                    { "data": "AvailQty" },
                    //{ "data": "PurchaseProcedure" },
                    //{ "data": "PurchaseNow" }
                ],
                "columnDefs": [
                    { "title": "Height", "targets": 0 },
                    { "title": "Plant Price", "targets": 1 },
                    { "title": "Available Qty", "targets": 2 },
                    //{ "title": "Plants Purchase Procedure", "targets": 3 },
                    //{ "title": "Purchase Now", "targets": 4 },
                    //{
                    //    "targets": [1],
                    //    "visible": false,
                    //    "searchable": false
                    //},
                ]
            });
        }
        function POSTGIS() {

            var Lat = $('#spnLat').text();
            var Long = $('#spnLong').text();
            var loc = Lat + ',' + Long;

            var DIST_CODE = $("#ddlDistrict").val();
            var NurseryName = $('#spnInchargeNursery').text();
            var NURSERY_CODE = "";
            var NurseryAddress = $('#spnNurseryAddress').text();
            var NurseryImageUrl = $('#spnNurseryImg').text();


            document.getElementById("requestFornUR").value = "Nursery Location";
            document.getElementById("coordinatesnUr").value = loc;

            document.getElementById("nurserydetails").value = "{\"NurseryName\":\"" + NurseryName + "\",\"DIST_CODE\":" + DIST_CODE + ",\"NURSERY_CODE\":\"" + NURSERY_CODE + "\",\"NurseryAddress\":\"" + NurseryAddress + "\",\"ImagePath\":\"" + NurseryImageUrl + "\"}";

            document.getElementById("portalidnUR").value = "testing123";
            //var ssoid = $("#SSOID").val();
            //$("#ssoidnUR").val(ssoid);
            //document.getElementById("ssoid").value = "testing123";


            var actionUrl = "https://gis.rajasthan.gov.in/fmdssgis/gisview/NurseryDetails.aspx";


            document.getElementById("form11").action = actionUrl;



            document.getElementById("form11").submit();

        }
        function GoGoogleMap() {
            var Lat = $('#spnLat').text();
            var Long = $('#spnLong').text();

            //var Lat = '26.83950';
            //var Long = '75.83251';
            //https://maps.google.com/?q=26.83950,75.83251
            var url = 'https://maps.google.com/?q=' + Lat + ',' + Long;
            window.open(url, '_blank');
    
        }
        function Show() {
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: true,
                show: true
            });
        }
    </script>

</body>
</html>
